@model Asp_Net_Opdracht1.Models.Speler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Speler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler_Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler_Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speler_Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speler_Achternaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
